* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.canvas {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.coin {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
}
.player {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
}
