* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*HIDE THE SCROLLS*/
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-image: url('../img/floor.png');
    background-size: cover;
}

.canvas {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.coin {
    width: 40px;
    height: 50px;
    background-image: url('../img/coin.png');
    border-radius: 50%;
    position: absolute;
}
.player {
    width: 100px;
    height: 120px;
    background-image: url('../img/spriteL.png');
    background-repeat: no-repeat;
    position: absolute;
}

.gameover {
    width: 25%;
    height: 50%;
    background-image: url('../img/passed.png');
    background-size: cover;
    position: absolute;
    top: 25%;
    left: 39%;
}
